.page
{  
  margin: auto;
  position:relative;
  width:900px;
  min-height: 1100px;
  background-color:white;
}

.header
{
    position: relative;
}

.header h5
{
    text-align: right;
    margin-right: 20px;
}

.navigation
{
    position:absolute;
    top:242px;	
    width:100%;
    background-color:#266A2E;
    height:70px;
    line-height:40px;
    margin-right:50px;
}

.navigation a
{
    font-size:16px;
    font-weight:bold;
    color: white;
    margin-left:27px;
    margin-right:27px;
    text-decoration: none;
}

.navigation ul 
{
	list-style:none;
	padding:0px;
	text-align:right;
}

.navigation li 
{
	list-style:none;
	padding:0px;	
	display:inline;
}

.title
{
    position:absolute;
    top: 330px;
    margin-left: 50px;
    font-size:18px;
    font:bold;
}


.text
{
    position: absolute;
    top: 400px;
    margin-left: 50px;
    left: -4px;
    width: 850px;
}

.text img
{
    float:right;
    padding:30px;
}
 
body 
{
	margin: auto 0 auto auto;
    text-align:left;
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:black;
	background: #dbdbdb;
}

table
{
    width:800px;
}

table th
{
    font-weight:bold;
    background-color:#266A2E 
}



.footer
{
   position:fixed;
   bottom:0;
   width:900px;
   height:50px;
   background-color:#266A2E;
   
}



.footer p
{   
    display:inline;
    margin-left:100px;
    text-align:center;
    
}

